<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- This is our beans or metadata -->

	<!-- We can make bean using 3 methods -->


	<!-- 1st method -->
	<bean class="com.springcore.Student" name="student1">

		<!-- We are using setter injection -->

		<!-- <property name="studentId"> <value>19102015</value> </property> <property 
			name="studentName"> <value>Kshitiz Jain</value> </property> <property name="studentAddress"> 
			<value>Mumbai</value> </property> -->

		<!-- Above implementation can also be done as follows -->
		<property name="studentId" value="19102015" />
		<property name="studentName" value="Kshitiz Jain" />
		<property name="studentAddress" value="Mumbai" />

	</bean>

	<!-- 2nd method -->
	<bean class="com.springcore.Student" name="student2">

		<!-- Above implementation can also be done as follows -->
		<property name="studentId" value="19102065" />
		<property name="studentName" value="Nidhi Singh" />
		<property name="studentAddress" value="Thane" />

	</bean>

	<!-- 3rd method -->
	<bean class="com.springcore.Student" name="student3"
		p:studentId="19102025" p:studentName="Omkar Chougule"
		p:studentAddress="Pakistan" />


</beans>